html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
canvas {
  display: block;
}

/* add border */
.border-box {
  border: 2px solid rgb(60, 213, 0); /* Optional: for visual debugging */
}

#top-row {
  display: flex;
  width: 100%;
  height: 80vh; /* top row = 80% of viewport height */
}

#left-sketch {
  width: 50%;
  height: 100%;
}

#right-sketch {
  width: 50%;
  height: 100%;
  border-left: 1px solid rgba(255,255,255,0.06);
}

#bottom-row {
  width: 100%;
  height: 20vh; /* bottom = remaining 20% */
  display: flex;
}

#translation-container {
  width: 30%;
  height: 100%;
}

#language-rules {
  width: 70%;
  height: 100%;
  border-left: 1px solid rgba(255,255,255,0.06);
}